<div *ngIf="missingFields">
    <form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()" class="dynamic-form">
        <h2>Dynamic Form</h2>
        <div *ngFor="let field of (missingFields | keyvalue)">
            <ng-container *ngIf="field.value">
                <div class="form-group">
                    <label [for]="field.key">{{ field.key }}</label>
                    <input
                        [id]="field.key"
                        [formControlName]="field.key"
                        [type]="field.key === 'birthdate' ? 'date' : 'text'"
                        required
                        class="form-control"
                        [ngClass]="{'is-invalid': dynamicForm.get(field.key)?.invalid && (dynamicForm.get(field.key)?.touched || dynamicForm.get(field.key)?.dirty)}"
                    />
                    <div *ngIf="dynamicForm.get(field.key)?.invalid && (dynamicForm.get(field.key)?.touched || dynamicForm.get(field.key)?.dirty)" class="invalid-feedback">
                        This field is required.
                    </div>
                </div>
            </ng-container>
        </div>
        <button type="submit" [disabled]="!dynamicForm.valid" class="btn btn-primary">Submit</button>
    </form>
</div>

<div *ngIf="!missingFields">
    <p>Loading form fields...</p>
</div>
